# User-specific files
.idea/
.vscode/

# Windows system files
Thumbs.db
ehthumbs.db

# .NET Core specific
bin/
obj/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
[Dd]eploy/
[Dd]ev/

# .NET SDK
.nuget/

# User-specific files
*.user
*.suo
*.userosscache
*.sln*
